.containerW{
    box-sizing: border-box;
    padding: 0;
    /* background-image: url('https://imgs.search.brave.com/GRnMU8fBtQSpzMQmt7xrkLKP3ocXBFZnCCBBRm3Nnwo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy9i/L2JlL1RvcF9vZl9B/dG1vc3BoZXJlLmpw/Zw'); */

    background-image: url('../assets/pictures/spiderman.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 90%; */
    /* margin: auto; */
    background-position: center;
    height: 40vh;
}